  <%- include('./layout/header.ejs')%>
  <body>
    <%- include('./layout/navbar.ejs')%>
    <div class="container-fluid">
      <div class="row hero vh-100 justify-content-center">
        <div
          class="col col-lg-10 col-xxl-8 d-flex align-items-end justify-content-center justify-content-xl-end pb-5"
        >
          <div
            class="col col-xxl-12 d-flex flex-column align-items-center align-items-md-end bg-transp rounded p-3"
          >
            <h1 class="text-center text-uppercase fw-bold mb-4">
              Welcome to <span class="cl-blue">Barry Blue Books</span>
            </h1>
            <p class="text-center text-md-end fs-5 w-100 d-none d-sm-block">
              Barry Blue Books, founded in 2005, is an independent lending
              library situated in the centre of Riga. It houses nearly 20,000
              books and has a tranquil and relaxed atmosphere. In addition to
              the several cozy reading rooms, there is a beautiful garden, which
              is a wonderful hideout in the warm season.
            </p>
            <p class="text-center text-md-end fs-5 w-100 d-none d-lg-block">
              The library is a great place to relax, read a book and meet
              friends over a cup of coffee or speciality tea. We welcome new
              members and there are plenty of opportunities to visit us.
            </p>
            <a
              href="/about"
              role="button"
              class="btn btn-custom btn-blue p-2 mt-2"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-9 col-xl-7 mx-auto my-5 py-5 text-center text-lg-start offer"
        >
          <h2 class="text-uppercase mb-4 fw-bold">What we offer</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
            minima asperiores, rerum necessitatibus quis cum eos in molestiae
            culpa. Provident hic cum odit eaque quas numquam error, perspiciatis
            facilis ex dolore cupiditate nemo quibusdam vero aliquid ipsam
            aspernatur. Distinctio aliquid veniam, eaque provident nostrum
            placeat facilis cum atque odio similique fuga temporibus doloribus
            ad velit nemo.
          </p>
          <p>
            Provident hic cum odit eaque quas numquam error, perspiciatis
            facilis ex dolore cupiditate nemo quibusdam vero aliquid ipsam
            aspernatur.
          </p>
          <p>
            Neque consequuntur corporis perspiciatis, accusamus laudantium amet
            magni sit sapiente quidem tenetur maxime commodi tempore officia
            molestiae sint fugiat culpa ex adipisci, est suscipit! Reprehenderit
            explicabo minima iure sunt dolorum facere!
          </p>
        </div>
      </div>
      <div class="row news-coll-join">
        <div
          class="col-12 col-lg-4 text-center news position-relative d-flex justify-content-center align-items-end"
        >
          <div
            class="d-flex flex-column justify-content-lg-end justify-content-center align-items-center overlay-home-hide"
          >
            <h2 class="text-uppercase">News</h2>
            <p class="mb-5">What’s happening at the library?</p>
          </div>
          <div
            class="overlay-home d-flex flex-column justify-content-center align-items-center"
          >
            <p class="col-9 col-lg-11">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus ea, saepe cum libero numquam, ullam nam laudantium
              porro iure iusto culpa facilis cumque. Mollitia cum, eius officia
              ab expedita accusamus!
            </p>
            <a href="#" role="button" class="btn p-2 btn-custom btn-white mb-2"
              >More</a
            >
          </div>
        </div>
        <div
          class="col-12 col-lg-4 text-center news position-relative d-flex justify-content-center align-items-end collection"
        >
          <div
            class="d-flex flex-column justify-content-lg-end justify-content-center overlay-home-hide"
          >
            <h2 class="text-uppercase">Collection</h2>
            <p class="mb-5">Explore our huge range of books</p>
          </div>
          <div
            class="overlay-home d-flex flex-column justify-content-center align-items-center"
          >
            <p class="col-9 col-lg-11">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus ea, saepe cum libero numquam, ullam nam laudantium
              porro iure iusto culpa facilis cumque. Mollitia cum, eius officia
              ab expedita accusamus!
            </p>
            <a href="#" role="button" class="btn p-2 btn-custom btn-white mb-2"
              >More</a
            >
          </div>
        </div>
        <div
          class="col-12 col-lg-4 text-center news position-relative d-flex justify-content-center align-items-end collection join"
        >
          <div
            class="text-center d-flex flex-column justify-content-lg-end justify-content-center overlay-home-hide"
          >
            <h2 class="text-uppercase">Join</h2>
            <p class="mb-5">Want to become a member?</p>
          </div>
          <div
            class="overlay-home d-flex flex-column justify-content-center align-items-center"
          >
            <p class="col-9 col-lg-11">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus ea, saepe cum libero numquam, ullam nam laudantium
              porro iure iusto culpa facilis cumque. Mollitia cum, eius officia
              ab expedita accusamus!
            </p>
            <a href="#" role="button" class="btn p-2 btn-custom btn-white mb-2"
              >More</a
            >
          </div>
        </div>
      </div>
      <div class="row bg-color-light">
        <div class="col-9 col-xl-7 mx-auto mt-5 py-5 text-center text-lg-start">
          <h2 class="text-uppercase mb-4 fw-bold">Featured Books</h2>
          <p>
            Distinctio aliquid veniam, eaque provident nostrum placeat facilis
            cum atque odio similique fuga temporibus doloribus ad velit nemo.
          </p>
          <p>
            Distinctio aliquid veniam, eaque provident nostrum placeat facilis
            cum atque odio similique fuga temporibus doloribus ad velit nemo.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil
            libero nulla quisquam mollitia ratione inventore odio quo debitis!
            Illum at, modi voluptatum vero ducimus, amet deleniti sapiente
            impedit accusantium minima quis cum odit odio optio iste
            exercitationem, voluptas perspiciatis temporibus ea aliquam facilis
            ipsum excepturi nemo! Tempore culpa dolorum corporis.
          </p>
          <a
            href="/books"
            role="button"
            class="btn btn-custom btn-dark p-2 mb-3"
            >Reserve</a
          >
        </div>
        <div class="col-9 col-xl-7 mx-auto mb-5 pb-5">
          <div
            id="featured-books"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="/books">
                  <div class="mx-auto w-50 d-block book-cover cover-1"></div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="/books">
                  <div class="mx-auto w-50 d-block book-cover cover-2"></div
                ></a>
              </div>
              <div class="carousel-item">
                <a href="/books">
                  <div class="mx-auto w-50 d-block book-cover cover-3"></div
                ></a>
              </div>
              <div class="carousel-item">
                <a href="/books">
                  <div class="mx-auto w-50 d-block book-cover cover-4"></div
                ></a>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#featured-books"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#featured-books"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row stay-in-touch bg-color-blue">
        <div class="col-9 col-md-8 col-lg-6 col-xxl-5 mx-auto text-center my-5 py-5">
          <div class="mb-2">
            <h2 class="text-uppercase fw-bold mb-5">Stay in Touch</h2>
          </div>
          <div class="mb-3 sign-up">
            <p class="text-start">
              Enter your email to join the community of
              <span class="count"><%=data%></span> book lovers. We'll be sending out
              our newsletter monthly or so - hope you find it enjoyable.
            </p>
            <form
              action="/"
              method="POST"
              class="newsletter-form d-flex flex-column justify-content-start align-items-start flex-md-row align-items-md-end"
              id="sign-up-form"
            >
              <input
                name="email"
                type="email"
                class="p-2 mt-2 w-75"
                placeholder="Your email address"
                id="email-value"
                required
              />
              <button
                type="submit"
                class="btn btn-custom btn-light sign-up-btn-home p-2 mt-4 ms-md-3"
              >
                Join Now
              </button>
            </form>
            <p class="text-start pt-2 hide error">Hey! You are already on our list.</p>
          </div>
          <div class="mb-3 sign-up-response hide">
            <p>Thank you for signing up for the Barry Blue Books newsletter!</p>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer.ejs')%>
  </body>
</html>
