<nav class="navbar sticky-top navbar-expand-md navbar-custom">
  <div class="container-md">
    <a class="navbar-brand" href="/"
      ><img class="logo" src="/logo.png" alt="Barry Blue Books logo"
    /></a>
    <button
      class="custom-toggler navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link ps-5" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-5" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-5" href="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-5" href="/contacts">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
